@model dynamic

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<ul class="tab-selector nav nav-tabs" data-target="subsection" data-loading="subsection-loading">
    <li data-source="@Url.Action("NowPlaying")"><a href="#" data-toggle="tab">Now Playing</a></li>
    <li data-source="@Url.Action("TopRated")"><a href="#" data-toggle="tab">Top Rated</a></li>
</ul>

<div id="subsection-loading">
    <span>Loading ...</span>
</div>
<div id="subsection"></div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".tab-selector").each(function (index, item) {
                var $targetElement = $("#" + item.getAttribute("data-target"));
                var $loadingElement = $("#" + item.getAttribute("data-loading"));
                $targetElement.hide();
                $loadingElement.hide();

                $("li", item).click(function () {
                    $("li", item).removeClass("active");
                    $(this).addClass("active");
                    var address = this.getAttribute("data-source");
                    $targetElement.hide();
                    $loadingElement.show();
                    $.ajax({
                        url: address
                    }).done(function (data) {
                        console.log("finished loading " + address);
                        $targetElement.html(data);
                        $targetElement.show();
                        $loadingElement.hide();
                    });
                });
                $("li", item).first().click();
            });
        });
    </script>
}
