<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Formo" version="1.4.1.24040" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2879" targetFramework="net45" />
  <package id="RavenDB.Client.UniqueConstraints" version="2.5.2879" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="TMDbLib" version="0.7.7" targetFramework="net45" />
</packages>